<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/8d578a94-4be5-437d-9eaa-e507a672fcb2/resourcegroups/wdc23-rg/providers/Microsoft.Web/sites/myChat-wdc23</ResourceId>
    <ResourceGroup>wdc23-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mychat-wdc23.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>fc1d1fe8-5104-4027-807c-a6d2177951ba</ProjectGuid>
    <PublishUrl>https://mychat-wdc23.scm.azurewebsites.net/</PublishUrl>
    <UserName>$myChat-wdc23</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>